
<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
 
<div class="education-container container-block">

<div class="item">
    <h4 class="degree">Analyst Programmer</h4>
    <h5 class="meta">University of Colima</h5>
    <div >1997 - 2000</div>
     <a href="#">Technical University Title</a>

</div><!--//item-->
<br>
<div class="item">
    <h4 class="degree">Information Security and Quality Assurance Projects</h4>
    <h5 class="meta">freecodecamp.org</h5>
    <div >2018</div>
    <a href="https://www.freecodecamp.org/certification/ruff0/information-security-and-quality-assurance">Certification</a>
</div>
 <br>
<div class="item">
    <h4 class="degree">Responsive Web Design</h4>
    <h5 class="meta">freecodecamp.org</h5>
    <div >2018</div>
    <a href="https://www.freecodecamp.org/certification/ruff0/responsive-web-design">Certification</a>
</div>
 <br>
<div class="item">
    <h4 class="degree">JavaScript Algorithms and Data Structures</h4>
    <h5 class="meta">freecodecamp.org</h5>
    <div >2018</div>
    <a href="https://www.freecodecamp.org/certification/ruff0/javascript-algorithms-and-data-structures">Certification</a>
</div>
<br>
</div><!--//education-container-->

</section><!--//section--> 
