<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
      <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Developer</h3>
                            <div class="time">December 2018 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://polimentes.com">Polimentes.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developing an API to manage their articles and resources of a Major Mexican Travel Agency.
        </p><p><i>Built in django rest framework on SQL database with DAO.</i></p></div><!--//details-->
                </div><!--//item-->
    
    <div class="item">
               <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Fullstack Developer</h3>
                            <div class="time">March 2019 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://culturacolima.gob.mx">Cultural Office State of Colima</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developing a web application to manage and publish stories with ease.</p>
                      <p><i>Built with my favorite stack: Mongo, Laravel and Vue.</i></p></div><!--//details-->
                </div><!--//item-->
    
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Developer</h3>
                            <div class="time">september 2018 - january 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://polimentes.com">Polimentes.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Development of API section for Hieight Control, Date Scheduling, Merchandise values and status,
                         and other controllers for managing a Major Sea Port Cargo Terminal.</p>
                      <p>
                        <i>Based on SQL procedures with DAO from Laravel.</p></i></div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Pentester and Security Consultor</h3>
                            <div class="time">2012 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://kliaki.com">Kliaki.com</a> / <a href="http://400tres.com">400tres.com</a> / <a href="http://mellon.mx">Mellon.mx</a> / <a href="http://ictius.com">Ictius.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Security Tests and Hardening of Linux based VPS & Shared Hostings.
        Code Patcher for more than 50 (HTML5 CSS JS) and WP based websites.</p>
                          <p><i>My friends design, serve, and host a multutude of sites; so I provide them scripts to massively search and patch security issues that appear on every update of their CMS systems. 
                            Obviously the management of security on a VPS is easier to accomplish using snort, firewall and having root access, but in a Apache Shared Hosting Server pentests, hardcode and advanced .htaccess rules are necessary to slighty guarantee the owning and the proper function of a WP site.</i></p>
</p>  
                  
                </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">NetWork Administrator and IT Consultor</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://baboyaro.com">Baboyaro.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Internet over 5 GHZ Point to Point Link.</p>
        <p>Routing and Transparent Proxy.</p>  
                      <p><i>An 8 miles point to point internet link with a couple of Loco2, one on a grid aiming to the other with a omni airmax. Of course we care about security and privacy so this link is proxied over Tor.</i></p>
                    </div><!--//details-->
                </div><!--//item-->

  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web App Developer, WAN Security Administrator, IT Consultor</h3>
                            <div class="time">mid 2016 - end 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://edcom.mx">Edcom.mx</a></div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Routing and configuration of Cisco-Meraki to guarantee privacy of customers. Camera Lens Calculation and CCTV Design and Installation.</p>  
                      <p>Laravel Application where Members can rent virtual offices and get their invoice.</p>
                      <p>Privacy policies based on web and local security.</p>  
<p><i>When local security and privacy matters, it's better to have a meraki router: wifi locator and antirougue help a lot.</i></p>                             
                    </div><!--//details-->
                </div><!--//item-->
               
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developer and Pentester</h3>
                            <div class="time">mid 2017 to 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://pixel.com">Pixel.com</a> -> <a href="http://zl44ka3ywxmsitjc.onion">zl44ka3ywxmsitjc.onion</a></a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>RADIUS Server Development and Integration with Microtik RouterOS.</p>
                        <p>WAN Security Assurance and Pentesting.</p>
<p><i>A very good friend of mine started a Wifi Business a couple of years ago, so he needed help to automate the making of vouchers and service quotation for his customers. I was able to assist.</i></p>                             
                    </div><!--//details-->
                </div><!--//item-->

<!--<div align="right">All of the above projects are verifiable.<div>-->
            </section><!--//section-->
