<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Open Kinect</li>
<li>Security</li>
<li>Tor</li>
<li>BlockChain</li>
<li>Street Art Making</li>
<li>Poker</li>
<li>Flat Earth</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<h2 class="container-block-title">About Me</h2>
<ul class="list-unstyled interests-list">
<a href="http://400tres.com/portfolio/"><li>Portfolio</li></a>
</ul>
</div><!--//interests-->
