<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>This list is not intented to be complete.</p>
                </div><!--//intro-->
<div class="item">
                    <span class="project-title"><a href="http://prints.400tres.com" target="_blank"><u>Sell and Schedule System for Print Store</u></a></span> - 
                    <span class="project-tagline">Web application to upload pictures, choose a frame, schedule a print order, and pay with Stripe. for printing it. Made in Laravel, Vue and Mongo for a print store in San Francisco.</span>
                </div><!--//item-->                

<div class="item">
                    <span class="project-title"><a href="http://umg.400tres.com"><u>Medical Clinic System</u></a></span> - 
  <span class="project-tagline">Web application to help medical personnel to manage prescriptions, drugs, appointments and medical history of their patients. Made in Yii2 and SQL for Unidad Medica Guadalupana.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://unta.400tres.com" target="_blank"><u>ID Card Making Application</u></a></span> - 
                    <span class="project-tagline">Web application to upload pictures and data to generate an ID card ready to print. Made in pure PHP for Union Nacional de Trabajadores Agricolas.</span>
                </div><!--//item-->
  
                <div class="item">
                    <span class="project-title"><a href="http://audiencias.400tres.com" target="_blank"><u>Police Registry System</u></a></span> - 
                    <span class="project-tagline">System to register policies and prisioners going to an audience. Made in Yii2 for Policia General Judicial Colima</span>
                </div><!--//item-->
  
              <div class="item">
                    <span class="project-title"><a href="http://tattoo.400tres.com" target="_blank"><u>Tattoo Scheduler</u></a></span> - 
                    <span class="project-tagline">Web application with Stripe subscription system for tattoo artists to schedule the appointments and request payments of their customers. Made in Laravel and Mongo for my friends.</span>
                </div><!--//item-->
                
                
            </section><!--//section-->
