<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2><h4>AS DEVELOPER</h4>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">PHP, Laravel, Yii & PHPUnit;</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="97%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                     <div class="item">
                        <h3 class="level-title">Python & Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5, CSS &amp; SASS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="92%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Js & Vue</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                     <!-- <div class="item"> -->
                        <!-- <h3 class="level-title">React</h3> -->
                        <!-- <div class="level-bar"> -->
                            <!-- <div class="level-bar-inner" data-level="60%"> -->
                            <!-- </div>                                       -->
                        <!-- </div>  <!--//level-bar-->                                  -->
                    <!-- </div> -->
                    <!--//item-->

                    <div class="item">
                        <h3 class="level-title">Angular</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                      <div class="item">
                        <h3 class="level-title">SQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                      </div><!--//item-->

                     <div class="item">
                        <h3 class="level-title">Perl</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                     <div class="item">
                        <h3 class="level-title">Shell</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">C (Arduino)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                   <div class="item">
                        <h3 class="level-title">Docker</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->


                   <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->
